@charset "UTF-8";
/* ========================================================================= */
/* !RESETS AND DEFAULTS */
/* ========================================================================= */
html, body, div, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, img, ins, kbd, q, samp, var, hr, acronym, dl, dt, dd, ol, ul, li, pre, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { border: 0; outline: 0; font-style: normal; font-weight: 400; font-size: 100%; vertical-align: baseline; margin: 0; padding: 0; -webkit-text-size-adjust: 100%; }

em, strong, b, i, a, span, sub, sup, small { border: 0; outline: 0; font-size: 100%; vertical-align: baseline; margin: 0; padding: 0; }

a:focus { outline: 0; }

:focus, :active { outline: none; outline: 0; }

::-moz-focus-inner { outline: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

li { list-style: none; }

a { text-decoration: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ""; }

table { border-collapse: collapse; border-spacing: 0; }

hr { display: block; height: 1px; border-top: 1px solid #000; color: #000; }

input, select { vertical-align: middle; }

sub { vertical-align: sub; font-size: smaller; line-height: 0px; }

sup { vertical-align: super; font-size: smaller; line-height: 0px; }

input, button, textarea, select, label, img { display: inline-block; }

input, button, textarea, select, optgroup, option { font-family: inherit; font-size: inherit; font-style: inherit; font-weight: inherit; }

input, button, textarea, select { -webkit-appearance: none; }

textarea { resize: none; }

button, a span { cursor: pointer; }

button { border: 0; text-align: center; }

button::-moz-focus-inner { padding: 0; border: 0; }

table { table-layout: fixed; }

a[href^=tel] { color: inherit; }

#no_ie6 { width: 100%; height: 40px; overflow: hidden; border-bottom: 2px solid #000; }

/* != FONT SMOOTHING */
body, input, button, textarea { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

/* * { box-sizing: border-box;} */
/* != .clearfix - CLEAR ELEMENTS */
.clear { clear: both; }

.clearfix:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

.clearfix { display: inline-table; }

* html .clearfix { height: 1%; }

/* Hides from IE-mac \*/
.clearfix { display: block; }

/* Hides from IE-mac \*/
* html .clearfix { zoom: 1; }

/* IE6 */
*:first-child + html .clearfix { zoom: 1; }

/* IE7 */
/* != .wordwrap - CONTINUE LONG URLS/WORDS ON NEXT LINE */
.wordwrap { white-space: pre; white-space: pre-wrap; white-space: pre-line; white-space: -pre-wrap; white-space: -o-pre-wrap; white-space: -moz-pre-wrap; word-wrap: break-word; }

/* ========================================================================= */
/* !FONTS (@fontface generated with FontSpring Syntax formatting */
/* ========================================================================= */
@font-face { font-family: "jack-social"; src: url("../fonts/JackSocial/jack-social.eot"); src: url("../fonts/JackSocial/jack-social.eot?#iefix") format("embedded-opentype"), url("../fonts/JackSocial/jack-social.ttf") format("truetype"), url("../fonts/JackSocial/jack-social.woff") format("woff"), url("../fonts/JackSocial/jack-social.svg#jack-social") format("svg"); font-weight: normal; font-style: normal; }
@font-face { font-family: 'varela_roundregular'; src: url("../fonts/varelaround/varelaround-regular-webfont.eot"); src: url("../fonts/varelaround/varelaround-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/varelaround/varelaround-regular-webfont.woff2") format("woff2"), url("../fonts/varelaround/varelaround-regular-webfont.woff") format("woff"), url("../fonts/varelaround/varelaround-regular-webfont.ttf") format("truetype"), url("../fonts/varelaround/varelaround-regular-webfont.svg#varela_roundregular") format("svg"); font-weight: 400; font-style: normal; }
/* ========================================================================= */
/* !SASS VARIABLES & MIXINS */
/* ========================================================================= */
/* ========================================================================= */
/* !STYLES */
/* ========================================================================= */
html, body { font-family: "varela_roundregular", sans-serif; }

/* != SELECTION STYLES (Leaving these blank will show no indication of text selection) ===== */
::selection { background: #194591; color: #fff; }

::-moz-selection { background: #194591; color: #fff; }

::-webkit-selection { background: #194591; color: #fff; }

/* != ICON FONT DECLARATION ===== */
[data-icon]:before { font-family: "jack-social"; content: attr(data-icon); font-style: normal; font-weight: normal; font-variant: normal; text-transform: none !important; speak: none; display: inline-block; text-decoration: none; width: 1em; line-height: 1em; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

[class^="social-"]:before, [class*=" social-"]:before { font-family: "jack-social"; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none !important; speak: none; display: inline-block; text-decoration: none; width: 1em; line-height: 1em; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.social-email:before { content: "a"; }

.social-email-round:before { content: "A"; }

.social-facebook:before { content: "f"; }

.social-facebook-round:before { content: "F"; }

.social-flickr:before { content: "c"; }

.social-flickr-round:before { content: "C"; }

.social-googleplus:before { content: "g"; }

.social-googleplus-round:before { content: "G"; }

.social-instagram:before { content: "i"; }

.social-instagram-round:before { content: "I"; }

.social-linkedin:before { content: "l"; }

.social-linkedin-round:before { content: "L"; }

.social-pinterest:before { content: "p"; }

.social-pinterest-round:before { content: "P"; }

.social-rss:before { content: "r"; }

.social-rss-round:before { content: "R"; }

.social-sharethis:before { content: "s"; }

.social-sharethis-round:before { content: "S"; }

.social-twitter:before { content: "t"; }

.social-twitter-round:before { content: "T"; }

.social-vimeo:before { content: "v"; }

.social-vimeo-round:before { content: "V"; }

.social-yelp:before { content: "x"; }

.social-yelp-round:before { content: "X"; }

.social-youtube:before { content: "y"; }

.social-youtube-round:before { content: "Y"; }

.social-youtube2:before { content: "u"; }

.social-youtube2-round:before { content: "U"; }

@font-face { font-family: "common-impact"; src: url("../fonts/common-impact/common-impact.eot"); src: url("../fonts/common-impact/common-impact.eot?#iefix") format("embedded-opentype"), url("../fonts/common-impact/common-impact.woff") format("woff"), url("../fonts/common-impact/common-impact.ttf") format("truetype"), url("../fonts/common-impact/common-impact.svg#common-impact") format("svg"); font-weight: normal; font-style: normal; }
[data-icon]:before { font-family: "common-impact" !important; content: attr(data-icon); font-style: normal !important; font-weight: normal !important; font-variant: normal !important; text-transform: none !important; speak: none; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

[class^="ci-"]:before, [class*=" ci-"]:before { font-family: "common-impact" !important; font-style: normal !important; font-weight: normal !important; font-variant: normal !important; text-transform: none !important; speak: none; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.ci-arrow-left:before { content: "e"; }

.ci-arrow-right:before { content: "f"; }

.ci-arrow-up:before { content: "g"; }

.ci-arrow-down:before { content: "h"; }

/* != DEFAULT WORDPRESS STYLES = USE AS NEEDED = .wp-caption = .wp-caption-dd = .wpGallery = .shutter = .shutterset ==== */
.aligncenter { display: block; margin: 25px auto; }

.alignleft { float: left; margin: 0 25px 25px 0; }

.alignright { float: right; margin: 0 0 25px 25px; }

.alignnone { display: inline-block; }

/* != LAYOUT STYLES ===== */
.content-main ul li { position: relative; padding-left: 10px; }

.content-main ul li:before { content: 'ΓÇó'; position: absolute; left: 0; }

.content-main ol { counter-reset: li; }

.content-main ol li { position: relative; padding-left: 20px; }

.content-main ol li:before { content: counter(li) ". "; counter-increment: li; position: absolute; left: 0; }

.wrap { width: 1140px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin: 0 auto; max-width: 100%; padding: 0 20px; }

.pull-left { float: left; }

.pull-right { float: right; }

.visible-s, .visible-xs { display: none !important; }

.hidden-s { display: block; }

.dropdwn-btn { display: none; }

.btn { -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.07); -webkit-box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.07); -moz-box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.07); color: #f2f2f2; font-size: 16px; font-weight: 400; line-height: 16px; padding: 12px 18px; display: inline-block; }
.btn.light-green-1 { background-color: #50b46c; }
.btn.light-green-1:hover { background-color: #258584; }
.btn.light-green-2 { background-color: #50b46c; }
.btn.light-green-2:hover { background-color: #fff; color: #52b96f; }

.link { font-size: 16px; font-weight: 400; line-height: 16px; display: inline-block; }
.link.white-link { color: #fff; }
.link.white-link:hover { color: #52b96f; }
.link.green-link { color: #52b96f; }
.link.green-link:hover { color: #fff; }

a { -webkit-transition: all 0.1s ease-in-out; -moz-transition: all 0.1s ease-in-out; transition: all 0.1s ease-in-out; }

/* != PLACEHOLDER ATTRIBUTE STYLES = input or textarea - placeholder="whatever" ===== */
/* ::-webkit-input-placeholder { color:     #3b3b3b; opacity: 1; filter: alpha(opacity=100); } :-moz-placeholder { color:     #3b3b3b; opacity: 1; filter: alpha(opacity=100); } ::-moz-placeholder { color:     #3b3b3b; opacity: 1; filter: alpha(opacity=100); } :-ms-input-placeholder { color:     #3b3b3b; opacity: 1; filter: alpha(opacity=100); }
*/
form ul { margin: 0; }
form ul li { background: none; list-style: none; }
form ul li div { display: inline-block; vertical-align: top; }

input[type=submit], button { display: inline-block; cursor: pointer; }

#header { height: 90px; background: #fff; width: 100%; }
#header .header-social { margin-left: 15px; margin-top: 22px; }
#header .header-social a { margin-left: 10px; }
#header .header-social a i { display: inline-block; -moz-border-radius: 25px; -webkit-border-radius: 25px; border-radius: 25px; width: 25px; height: 25px; color: #fff; font-size: 23px; text-align: center; line-height: 25px; -webkit-transition: all 0.1s ease-in-out; -moz-transition: all 0.1s ease-in-out; transition: all 0.1s ease-in-out; }
#header .header-social a i:before { position: relative; }
#header .header-social a i.social-linkedin { background-color: #1a78b2; }
#header .header-social a i.social-facebook { background-color: #3d5893; }
#header .header-social a i.social-twitter { background-color: #00b8f3; }
#header .header-social a i.social-twitter:before { top: 1px; }
#header .header-social a i:hover { background-color: #258584; }

#logo { display: inline-block; line-height: 90px; }
#logo a { display: block; height: 90px; display: inline-block; vertical-align: middle; }
#logo a img { max-width: 100%; max-height: 100%; width: auto; height: auto; display: inline-block; }

#main-nav { display: inline-block; margin-top: 25px; }
#main-nav > ul > li { float: left; display: inline-block; position: relative; padding-left: 40px; }
#main-nav > ul > li:before { -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; width: 3px; height: 3px; background: #194591; content: ''; position: absolute; left: 22px; top: 9px; }
#main-nav > ul > li:first-child { padding-left: 0; }
#main-nav > ul > li:first-child:before { display: none; }
#main-nav > ul > li a { font-size: 16px; color: #194591; line-height: 16px; }
#main-nav > ul > li a:hover { color: #258584; }
#main-nav > ul > li ul { display: none; position: absolute; top: 100%; z-index: 999; }
#main-nav > ul > li ul li { display: block; }
#main-nav > ul > li:hover > a { /*background:#000;
color: #fff;*/ }
#main-nav > ul > li:hover ul { display: block; }

#hm-banner { height: auto; width: 100%; }
#hm-banner ul { width: 100%; height: auto; }
#hm-banner ul li { display: block; width: 100%; height: 100%; position: relative; }
#hm-banner .banner-bg { height: 670px; position: relative; background-repeat: no-repeat; background-position: 50% 50%; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-position: center bottom; }
#hm-banner .banner-text { position: absolute; width: 100%; display: inline-block; left: 0; bottom: 56px; }
#hm-banner h2 { max-width: 786px; color: #fff; font-size: 70px; font-weight: 400; line-height: 73.5999984741211px; }

.hm-module h2 { font-size: 49px; font-weight: 400; color: #fff; padding: 0 20px; text-transform: uppercase; text-align: center; }
.hm-module h3 { color: #194591; font-size: 40px; font-weight: 400; display: block; text-align: center; text-transform: uppercase; padding: 0 20px; }

#champions-wrap { padding: 45px 0 85px; background-color: #f1f4f6; }

.flip-container { perspective: 1000; transform-style: preserve-3d; }
.flip-container.active .front { transform: rotateY(180deg); }
.flip-container.active .back { transform: rotateY(0deg); }
.flip-container .front, .flip-container .back { backface-visibility: hidden; transition: 0.6s; transform-style: preserve-3d; box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.04); -webkit-box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.04); -moz-box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.04); overflow: hidden; position: absolute; top: 0; left: 0; }
.flip-container .front { z-index: 2; transform: rotateY(0deg); background: #fff; }
.flip-container .front .photo { position: relative; width: 100%; height: 340px; background-repeat: no-repeat; background-position: 50% 50%; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; margin-bottom: 28px; }
.flip-container .front .photo:before { position: absolute; width: 100%; height: 100%; content: ''; left: 0; bottom: 0; background: url(../images/photo-shadow.png) left bottom repeat-x; z-index: 2; }
.flip-container .front .photo .info { position: absolute; left: 30px; bottom: 14px; display: inline-block; z-index: 4; }
.flip-container .front .photo h5 { color: #fff; }
.flip-container .front .photo span { color: #fff; font-family: Helvetica, sans-serif; font-size: 13px; font-weight: 400; line-height: 16px; }
.flip-container .front h5 { font-size: 24px; line-height: 29px; }
.flip-container .front .content-wrap { padding: 0 30px; }
.flip-container .front .content-wrap h5 { color: #194591; margin-bottom: 18px; }
.flip-container .front .content-wrap h5 span { color: #52b96f; display: inline-block; margin-right: 5px; }
.flip-container .front .content-wrap p { color: #586065; font-family: Helvetica, sans-serif; font-size: 15px; font-weight: 300; line-height: 21px; margin-bottom: 25px; }
.flip-container .back { transform: rotateY(-180deg); background-color: #258584; padding: 33px; text-align: left; }
.flip-container .back h4 { font-size: 24px; font-weight: 400; margin-bottom: 25px; color: #fff; }
.flip-container .back p { color: #c8fefe; font-family: Helvetica, sans-serif; font-size: 14px; font-weight: 300; line-height: 22px; margin-bottom: 20px; }

.flip-container { height: 600px; }
.flip-container .front, .flip-container .back { -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; width: 100%; height: 591px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.flipper { transition: 0.6s; transform-style: preserve-3d; position: relative; }

#champions { margin-top: 20px; padding: 50px 0 10px; width: 100%; overflow: hidden; /* the parent */ }
#champions .slick-slide { margin: 0 12px; opacity: 0.4; }
#champions .slick-list { margin: 0 -12px; }
#champions .slick-active { opacity: 1; }

#numbers-wrapper { padding: 75px 0; overflow: hidden; }

#circle-numbers { font-size: 0; display: inline-block; width: 100%; margin-top: 30px; }
#circle-numbers li.slick-slide { width: 25%; font-size: 12px; display: inline-block; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; position: relative; height: 250px; text-align: center; }
#circle-numbers .circle-border { width: 60px; height: 60px; background-color: white; -moz-border-radius: 60px; -webkit-border-radius: 60px; border-radius: 60px; margin-left: -30px; border: 3px solid rgba(241, 244, 246, 0); top: 50%; margin-top: -30px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; position: absolute; left: 50%; z-index: 1; opacity: 1; -webkit-transition: all 0.9s ease-in-out; -moz-transition: all 0.9s ease-in-out; transition: all 0.9s ease-in-out; }
#circle-numbers .circle-border:before { position: absolute; width: 100%; height: 100%; top: 0; left: 0; content: ''; opacity: 1; background: url(../images/circle-small-logo.png) center center no-repeat; background-size: 100% auto; -webkit-transition: all 0.9s ease-in-out; -moz-transition: all 0.9s ease-in-out; transition: all 0.9s ease-in-out; }
#circle-numbers li.active .circle-border { width: 242px; height: 242px; background-color: white; -moz-border-radius: 121px; -webkit-border-radius: 121px; border-radius: 121px; margin-left: -121px; border: 3px solid #f1f4f6; top: 0; margin-top: 0; }
#circle-numbers li.active .circle-border:before { opacity: 0; }
#circle-numbers svg { left: 50%; margin-left: -123px; position: absolute; top: 0; z-index: 3; visibility: hidden; -webkit-transition: all 0.1s ease-in-out; -moz-transition: all 0.1s ease-in-out; transition: all 0.1s ease-in-out; }
#circle-numbers .outer { fill: transparent; stroke: #52b96f; stroke-width: 3; stroke-dasharray: 754; stroke-dashoffset: 754; transition: stroke-dashoffset 1.5s; }
#circle-numbers li.show-line svg { visibility: visible; }
#circle-numbers li.show-line[data-percent='100'] .outer { stroke-dashoffset: 0; }
#circle-numbers li.show-line[data-percent='75'] .outer { stroke-dashoffset: 188.5; }
#circle-numbers li.show-line[data-percent='50'] .outer { stroke-dashoffset: 377; }
#circle-numbers li.show-line[data-percent='25'] .outer { stroke-dashoffset: 565.5; }
#circle-numbers li.show-line[data-percent='0'] .outer { stroke-dashoffset: 754; }
#circle-numbers .data-box { width: 242px; height: 242px; -moz-border-radius: 121px; -webkit-border-radius: 121px; border-radius: 121px; position: absolute; top: 0; left: 50%; margin-left: -121px; z-index: 5; text-align: center; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding: 0 40px; visibility: hidden; }
#circle-numbers .icon { width: 100%; height: 42px; background-size: auto auto; background-position: center center; background-repeat: no-repeat; margin-top: 55px; margin-bottom: 12px; display: inline-block; -webkit-transition: opacity 1s ease-in-out; -moz-transition: opacity 1s ease-in-out; transition: opacity 1s ease-in-out; opacity: 0; }
#circle-numbers h4 { color: #52b96f; font-size: 40px; font-weight: 400; line-height: 38px; margin-bottom: 10px; opacity: 0; -webkit-transition: opacity 1.6s ease-in-out; -moz-transition: opacity 1.6s ease-in-out; transition: opacity 1.6s ease-in-out; }
#circle-numbers p { color: #b1babf; font-size: 18px; font-weight: 400; line-height: 22px; opacity: 0; -webkit-transition: opacity 1.8s ease-in-out; -moz-transition: opacity 1.8s ease-in-out; transition: opacity 1.8s ease-in-out; }
#circle-numbers li.show-content .data-box { visibility: visible; }
#circle-numbers li.show-content .icon, #circle-numbers li.show-content h4, #circle-numbers li.show-content p { opacity: 1; }

#engaged-wrapper { padding: 95px 0; background-color: #194591; }

#engaged-box { display: inline-block; width: 100%; margin-top: 100px; font-size: 0; }
#engaged-box li { display: inline-block; width: 33.05%; font-size: 12px; vertical-align: top; padding: 0 30px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; text-align: center; }
#engaged-box .icon { width: 100%; height: 105px; text-align: center; line-height: 105px; }
#engaged-box .icon img { vertical-align: top; display: inline-block; max-height: 100%; max-width: 100%; height: auto; width: auto; }
#engaged-box h4 { font-size: 30px; font-weight: 400; line-height: 37px; margin-bottom: 16px; display: block; }
#engaged-box h4 a { color: #f2f2f2; }
#engaged-box h4 a:hover { color: #52b96f; }
#engaged-box p { color: #9dc1ff; font-family: Helvetica, sans-serif; font-size: 15px; font-weight: 300; line-height: 22px; margin-bottom: 22px; }

#footer { background-color: #194591; padding: 0 0 30px; }
#footer .f-logo { overflow: hidden; position: relative; text-align: center; margin-bottom: 4px; }
#footer .f-logo:before { position: absolute; content: ''; width: 100%; height: 1px; left: 0; top: 50%; z-index: 2; background: #fff; }
#footer .f-logo h2 { display: inline-block; z-index: 4; position: relative; padding: 0 22px; background-color: #194591; }
#footer .f-logo h2 a { display: block; }
#footer .f-logo h2 a img { width: auto; height: auto; max-width: 100%; max-height: 100%; }
#footer .f-right p, #footer .f-right span, #footer .f-right a { color: #fff; font-family: Helvetica, sans-serif; font-size: 11px; font-weight: 300; line-height: 11px; display: inline-block; }
#footer .f-right a:hover { color: #52b96f; }
#footer .f-main-menu ul { font-size: 0; }
#footer .f-main-menu ul li { display: inline-block; position: relative; padding-left: 30px; }
#footer .f-main-menu ul li:before { -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; width: 3px; height: 3px; background: #fff; content: ''; position: absolute; left: 14px; top: 5px; }
#footer .f-main-menu ul li:first-child { padding-left: 0; }
#footer .f-main-menu ul li:first-child:before { display: none; }
#footer .f-main-menu ul li a { font-family: Helvetica, sans-serif; font-size: 11px; font-weight: 300; line-height: 13px; color: #fff; }
#footer .f-main-menu ul li a:hover { color: #52b96f; }
#footer .f-social { position: relative; display: inline-block; top: -4px; margin-left: 10px; }
#footer .f-social a { display: inline-block; -moz-border-radius: 18px; -webkit-border-radius: 18px; border-radius: 18px; width: 18px; height: 18px; background: #fff; margin-left: 8px; color: #194591; text-align: center; line-height: 18px; }
#footer .f-social a:hover { background-color: #52b96f; }
#footer .f-social a i { font-size: 16px; }

/* Slider */
.slick-slider { position: relative; display: block; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -ms-touch-action: pan-y; touch-action: pan-y; -webkit-tap-highlight-color: transparent; }

.slick-list { position: relative; overflow: hidden; display: block; margin: 0; padding: 0; }
.slick-list:focus { outline: none; }
.slick-list.dragging { cursor: pointer; cursor: hand; }

.slick-slider .slick-track, .slick-slider .slick-list { -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }

.slick-track { position: relative; left: 0; top: 0; display: block; }
.slick-track:before, .slick-track:after { content: ""; display: table; }
.slick-track:after { clear: both; }
.slick-loading .slick-track { visibility: hidden; }

.slick-slide { float: left; height: 100%; min-height: 1px; display: none; }
[dir="rtl"] .slick-slide { float: right; }
.slick-slide img { display: block; }
.slick-slide.slick-loading img { display: none; }
.slick-slide.dragging img { pointer-events: none; }
.slick-initialized .slick-slide { display: block; }
.slick-loading .slick-slide { visibility: hidden; }
.slick-vertical .slick-slide { display: block; height: auto; border: 1px solid transparent; }

.slick-dots { position: absolute; top: 0; list-style: none; display: block; text-align: center; padding: 0; width: 100%; }
.slick-dots li { position: relative; display: inline-block; margin: 0 5px; padding: 0; cursor: pointer; }
.slick-dots li button { border: 0; background: transparent; display: block; height: 14px; width: 14px; -moz-border-radius: 14px; -webkit-border-radius: 14px; border-radius: 14px; outline: none; line-height: 0px; font-size: 0px; color: transparent; cursor: pointer; border: 1px solid #52b96f; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.slick-dots li button:hover { outline: none; background-color: #258584; border: 1px solid #258584; }
.slick-dots li.slick-active button { background-color: #52b96f; border: 1px solid #52b96f; }

/* Arrows */
.slick-prev, .slick-next { position: absolute; display: block; width: 35px; height: 65px; line-height: 65px; font-size: 0px; cursor: pointer; background: transparent; color: transparent; top: 50%; margin-top: -32px; padding: 0; border: none; outline: none; opacity: 0.5; }
.slick-prev:hover, .slick-next:hover { opacity: 1; }

.slick-prev:before, .slick-next:before { font-size: 50px; font-family: "common-impact"; color: #258584; }

.slick-prev { left: 5px; }
.slick-prev:before { content: 'e'; }

.slick-next { right: 5px; }
.slick-next:before { content: 'f'; }

/* ========================================================================= */
/* !MEDIA QUERIES */
/* ========================================================================= */
@media screen and (max-width: 1280px) { .flip-container { height: 700px; }
  .flip-container .front, .flip-container .back { height: 690px; } }
/*1280*/
@media screen and (max-width: 1100px) { #circle-numbers { padding-top: 50px; }
  #circle-numbers .slick-prev { left: -30px; margin-top: 0; }
  #circle-numbers .slick-next { right: -17px; margin-top: 0; } }
/*1100*/
@media screen and (max-width: 980px) { #header .header-social { margin-top: 14px; text-align: right; float: none; clear: both; margin-left: 0; }
  #logo a { height: 55px; }
  #main-nav { margin-top: 10px; float: none; clear: both; }
  #hm-banner .banner-bg { height: 550px; }
  #hm-banner h2 { font-size: 58px; line-height: 64.6px; } }
/*980*/
@media screen and (max-width: 768px) { .hidden-s { display: none; }
  .visible-s { display: block !important; }
  #header { height: 60px; position: relative; }
  #logo { line-height: 60px; }
  #logo a { height: 40px; }
  #toggle_menu_btn { width: 50px; height: 52px; position: absolute; top: 4px; right: 5px; cursor: pointer; overflow: hidden; text-align: center; line-height: 52px; color: #fff; -webkit-transition: all 0.25s ease-in-out; -moz-transition: all 0.25s ease-in-out; transition: all 0.25s ease-in-out; }
  #toggle_menu_btn span { cursor: pointer; border-radius: 5px; height: 3px; width: 25px; background: #194591; position: absolute; display: block; content: ''; top: 50%; margin-top: -2px; left: 50%; margin-left: -13px; }
  #toggle_menu_btn span:before, #toggle_menu_btn span:after { cursor: pointer; border-radius: 5px; height: 3px; width: 25px; background: #194591; position: absolute; display: block; content: ''; }
  #toggle_menu_btn span:before { top: -8px; }
  #toggle_menu_btn span:after { bottom: -8px; }
  #toggle_menu_btn:hover span, #toggle_menu_btn.active span { background-color: #50b46c; }
  #toggle_menu_btn:hover span:before, #toggle_menu_btn:hover span:after, #toggle_menu_btn.active span:before, #toggle_menu_btn.active span:after { background-color: #50b46c; }
  #toggle_menu_btn.active span { background-color: transparent; }
  #toggle_menu_btn.active span:before, #toggle_menu_btn.active span:after { top: 0; -webkit-transition: all .2s ease-in-out; -moz-transition: all .2s ease-in-out; transition: all .2s ease-in-out; }
  #toggle_menu_btn.active span:before { -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -ms-transform: rotate(45deg); -o-transform: rotate(45deg); transform: rotate(45deg); }
  #toggle_menu_btn.active span:after { -webkit-transform: translateY(-8px) rotate(-45deg); -moz-transform: translateY(-8px) rotate(-45deg); -ms-transform: translateY(-8px) rotate(-45deg); -o-transform: translateY(-8px) rotate(-45deg); transform: translateY(-8px) rotate(-45deg); top: 8px; }
  #mobile-menu-wrap { display: none; width: 100%; background: rgba(255, 255, 255, 0.8); position: absolute; top: 100%; right: 0; z-index: 9999; padding-bottom: 20px; box-shadow: 0 3px 3px 0px rgba(0, 0, 0, 0.4); -moz-box-shadow: 0 3px 3px 0px rgba(0, 0, 0, 0.4); -webkit-box-shadow: 0 3px 3px 0px rgba(0, 0, 0, 0.4); }
  #mobile-menu ul { padding: 10px 0; }
  #mobile-menu ul li { display: block; }
  #mobile-menu ul li a { font-size: 16px; font-weight: 400; color: #194591; padding: 10px 0; text-align: center; display: block; }
  #mobile-menu ul li a:hover { color: #50b46c; }
  #header .header-social { text-align: center; }
  #header .header-social a:first-child { margin-left: 0; }
  #hm-banner .banner-bg { height: 350px; }
  #hm-banner .banner-text { position: relative; padding: 30px 0; background: #194591; bottom: auto; }
  #hm-banner h2 { font-size: 30px; line-height: 37px; }
  .hm-module h2 { font-size: 34px; line-height: 34px; }
  .hm-module h3 { font-size: 30px; line-height: 30px; }
  #champions-wrap { padding-bottom: 30px; }
  #engaged-wrapper { padding: 30px 0; }
  #engaged-box { margin-top: 20px; }
  #engaged-box li { padding: 0; width: 100%; margin-top: 40px; }
  #engaged-box li:first-child { margin-top: 0; }
  #engaged-box .icon { margin: 0 0 15px; height: 40px; line-height: 40px; } }
/*768*/
@media screen and (max-width: 480px) { #champions { padding-left: 10px; padding-right: 10px; }
  .hm-module h3 { font-size: 25px; line-height: 25px; }
  #footer .f-nav-wrap { width: 100%; text-align: center; margin-top: 10px; }
  #footer .f-nav-wrap .f-social { margin-left: 0; width: 100%; }
  #footer .f-nav-wrap .f-social a:first-child { margin-left: 0; }
  #footer .f-right { width: 100%; text-align: center; margin-top: 10px; } }
/*480*/

/*# sourceMappingURL=style.css.map */
